.container{
    display: inline-flex; flex-wrap: wrap;
    /* border: solid red; */
    width: 100%;
    
    
     
    
   
    background-color: orange;
    
    
   
}

.nav{
    background-color: yellow;
    width: 100%;
    height: 30px;
    text-align: center;
     text-decoration-color: azure;
    
     
     background-color:orange;
  color: white;
  padding: 16px;
  font-size: 16px;
  
  cursor: pointer;
  position: relative     
}

.supermarket {
    display: flex;
    background-color:orangered;
    
height: 200px;
    width: 100%;
   
  align-items: center;
    
    
}

.options{background-color: olive;
    width:900px;
    height:400px;
   justify-content: stretch;
}
.buyproduct{
        background-color: yellowgreen;
         text-align: center;
        width: 100%;
        height: 400px;
        text-align: center;
        
         
         
}

   .topselling{
        background-color: white;
        width:900px;
        height:400px;
        text-decoration-color: azure;
        justify-content:stretch
   }

    .advertised{
            background-color: yellow;
         color: green;
         font-size: 140%;
            width:100%;
            height:300px;
            background-image: url("/images/Wholesale.jpg");
            
        }

#h1{
    background-color: orange;
    height: 50px;
   /* justify-content: center; */
   align-items: center;
    
}

.empty{
    width: 300px;
}
.footer{
    background-color: yellow;
    font-size: 20px;
    text-align: center;

}
.one,.two, .three {
    background-color: orangered;
    height: 30%;
    width: 80%;
    border: solid; 
    justify-content: center;
     
    
}